---
# front matter!
---

@import "minima";


body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
    font-weight: normal;
    color: #444;
}

ul, p {
    margin-bottom: 1.5rem;
}

a:hover {
    text-decoration: none;
}

hr {
    border: 0;
    border-top: 2px solid #ccc;
    margin: 2rem 0;
}

blockquote {
    color: #828282;
    border-left: 10px solid #ddd;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 1rem;
    letter-spacing: 0;
    font-style: italic;
    margin-bottom: 1.5rem;
}

pre, code {
  font-size: inherit;
  font-family: Monaco;
  background-color: #eee;
}

th, td {
    padding: 0.5rem 1rem;
}

thead {
    text-align: left;
    background-color: #ddd;
}

.post-content h2 {
    font-size: 24px;
    line-height: 1.1;
    margin-bottom: 1.5rem;
}

.site-title {
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0;
}

.post-meta {
    text-transform: uppercase;
}

.post-list .post-meta {
    float: right;
    margin-top: 0.75rem;
    margin-right: 1rem;
}

.post-list {
    border-top: 2px solid #eee;
}

.post-list > li {
    margin-bottom: 0;
}

.post-list h2 {
    margin-bottom: 0;
    line-height: 1.2;
    border-bottom: 2px solid #eee;
}

.post-link {
    padding: 0.5rem 1rem;
}

.post-link:hover {
    background-color: #eee;
}

.site-header {
    border-top: none;
    background-color: #eee;
}

.site-footer {
    background-color: #eee;
}
