@import "syntax-highlighting.css";

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
  line-height: 1.5;
  color: #444;
  margin: 0;
}

h1,
h2,
h3,
h4 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

ul,
ol {
  margin-bottom: 1.5rem;
  margin-left: 2rem;
  padding-left: 0;
}

p,
pre.highlight {
  margin-top: 0;
  margin-bottom: 1.5rem;
}

a,
a:visited {
  color: #0867ba;
  text-decoration: none;
}

a:hover {
  color: #444;
}

hr {
  border: 0;
  border-top: 4px solid #1779cf;
  margin: 2.5rem 0 2rem 0;
}

blockquote {
  font-style: italic;
  color: #828282;
  border-left: 10px solid #ddd;
  padding-left: 2rem;
  padding-right: 2rem;
  margin: 0 0 1.5rem 0;
}

pre,
code {
  font-family: Monaco, monospace;
  font-size: 0.9375rem;
  line-height: 1.6;
  background-color: #eee;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;
  margin-bottom: 1.5rem;
}

code {
  padding: 1px 5px;
}

pre > code {
  padding-right: 0;
  padding-left: 0;
}

table {
  margin-bottom: 2rem;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  border: 1px solid #ccc;
}

th,
td {
  border: 1px solid #ccc;
  padding: 0.5rem 1rem;
}

thead {
  text-align: left;
  background-color: #ddd;
}

/* layout */

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.page-content {
  margin-bottom: 2rem;
  flex: 1;
}

.wrapper {
  max-width: 48rem;
  margin-right: auto;
  margin-left: auto;
  padding: 0 1rem;
}

.post-content a {
  font-weight: bold;
}

.post-content h2 {
  font-size: 1.75rem;
  line-height: 1;
  margin-bottom: 1.25rem;
}

.post-content h3 {
  font-size: 1.35rem;
}

.post-date {
  display: inline-block;
  border-top: 3px solid #ddd;
  padding: 4px 2px;
}

.post-header {
  margin-bottom: 2rem;
}

.post-meta {
  text-transform: uppercase;
  color: #aaa;
  float: right;
  margin: 0.5rem 0.5rem 0 1rem;
}

.post-title {
  font-size: 2.625rem;
  font-weight: 400;
  line-height: 1;
}

.post-list {
  border-top: 2px solid #ddd;
  margin-left: -1rem;
  margin-right: -1rem;
  list-style: none;
}

.post-list h2 {
  font-size: 1.5rem;
  font-weight: 750;
  margin-bottom: 0;
  line-height: 1;
  border-bottom: 2px solid #ddd;
}

.post-link {
  display: block;
  padding: 0.5rem 1rem 0.4rem 1rem;
}

.post-link:hover {
  background-color: #eee;
}

.site-header {
  background-color: #0867ba;
  color: #fff;
  padding: 0.2rem 0 0.15rem 0;
  margin-bottom: 2rem;
}

@media screen and (min-width: 40em) {
  .top {
    display: flex;
    align-items: baseline;
  }
}

.top__title {
  font-size: 2rem;
  font-weight: 650;
  margin-bottom: 0;
}

.top__title a {
  color: #fff;
}

.top__descr {
  text-align: center;
  margin-bottom: 1.5rem;
}

.site-footer {
  padding: 1rem 0;
  background-color: #eee;
}

.links-list {
  list-style: none;
  margin-left: 0;
}
